/* @version 0.0.1 */

#reader
{
    position: relative;
    padding: 0 120px;
}

#reader .btn-toolbar
{
    padding: 0
}

#reader .btn
{
    user-select: none;

    padding-block: .4em .3em;
    line-height: 1;
}

#reader .btn[disabled]
{
    pointer-events: none
}

#reader .btn-mini i
{
    vertical-align: -0.3em
}

#reader .pages-list
{
    right: calc(100% + 5px);

    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    transition: gap .2s ease;
    transition-property: right, gap;
}

#reader .pages-list.loaded
{
    right: calc(100% + 10px);
    gap: 10px;
}

#reader .pages-list .page
{
    border-radius: 1px;

    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;

    transition: .35s ease;
    transition-property: border-radius, padding-block-start, color, background-color;
}

#reader .pages-list .page.active
{
    border-radius: 2px;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

#reader .pages-list a:hover
{
    border-radius: 4px;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

#reader #image.thumbnail
{
    --img-pad: 4px;

    box-sizing: border-box;
    padding: var(--img-pad);
    height: var(--h);
    width: var(--w);

    transition: .35s ease;
    transition-property: width, height;
}

#reader.noresize #image.thumbnail
{
    height: var(--xh);
    width: var(--xw);
}

#image::after
{
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: 109;

    display: block;
    box-sizing: border-box;
    padding: var(--img-pad);
    height: 100%;
    width: 100%;

    background-image: var(--img);
    background-color: transparent;
    background-size: contain;
    background-position: top center;
    background-origin: content-box;
    background-repeat: no-repeat;
}

@media (max-width: 767px)
{
    #reader
    {
        padding: 0 10px
    }

    #reader .pages-list
    {
        display: none
    }

    #reader.noresize #image.thumbnail
    {
        max-width: unset
    }
}

@media (prefers-reduced-motion)
{
    #reader #image.thumbnail
    {
        transition: none
    }

    #reader .pages-list .page
    {
        transition: .9s ease;
        transition-property: color, background-color
    }
}